.label-heading {
    color: #6b7280; // Gray-500
    font-weight: bold;
    margin-top: 2.5rem; // mt-10
  }
  
  .label-item {
    display: flex;
    align-items: center;
    margin-top: 1rem; // mt-3
  }
  
  .label-checkbox {
    height: 1.25rem; // h-5
    width: 1.25rem; // w-5
    border-radius: 0.25rem; // rounded
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px transparent;
    }
  }
  
  .label-text {
    margin-left: 0.5rem; // ml-2
    color: #374151; // Gray-700
    text-transform: capitalize;
  }
  