.month-grid {
    height: 100dvh;
    display: grid;
    grid-template-columns: repeat(7, 1fr); // 7 columns for the week
    grid-template-rows: repeat(5, 1fr); // 5 rows for the month
    flex: 1;
}

.month-row{
    display: contents
}
  