.small-calendar {
    height:max-content;
    .small-calendar-header {
        display: flex;
        justify-content: space-between;
    }
    
    .month-year {
    font-weight: bold;
    color: #4a4a4a;
    }
  
    .nav-buttons {
        button {
            background: none;
            border: none;
            cursor: pointer;
            padding: 5px;

        }
    }
  
    .calendar-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(6, 1fr);
      }
    
      .day-name {
        text-align: center;
        font-weight: bold;
        color: #555;
      }
    
      .day-button {
        text-align: center;
        cursor: pointer;
        border: none;
        transition: background-color 0.3s ease;
    
        &:hover {
          background-color: #f0f0f0;
          color: navy;
        }
    
        &.bg-blue-500 {
          background-color: #3b82f6;
          color: white;
        }
    
        &.bg-blue-100 {
          background-color: #ebf8ff;
          color: #3b82f6;
        }
      }
    }
  