@import "../../../scss/variables";

.detail-cart {
  //position: fixed;

  height: 100vh;
  width: 450px;
  background: get-color($secondary, "100");
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .title-cart {
    text-align: start;
    margin-bottom: 10px;
    color: get-color($primary, "100");
    font-weight: bold;
  }

  label {
    font-size: 20px;
    font-weight: bold;
    color: get-color($primary, "100");

    &.info-lbl {
      font-size: 14px;
      font-weight: bold;
      color: get-color($primary, "100");
    }
  }

  .serve-type {
    margin-bottom: 20px;

    .serve-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      .serve-button {
        flex: 1;
        padding: 5px;
        border: 1px solid get-color($primary, "100");
        border-radius: 20px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
        z-index: 1;

        &.active {
          background-color: get-color($primary, "200");
          color: #fff;
        }

        &:not(:last-child) {
          margin-right: 10px;
        }
        &:hover {
          background-color: get-color($primary, "200");
          color: get-color($neutral, "100");
        }
      }
    }
  }

  .customer-info {
    margin-bottom: 20px;
    margin: 0 20px;

    .info-row{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      label {
        flex: 0 0 30%;
        text-align: left;
      }

      input {
        flex: 1;
        padding: 5px;
        border: 1px solid get-color($neutral, "300");
        border-radius: 12px;
      }
    }
  }

  .cart-items {
    border-top: 1px solid get-color($neutral, "300");
    margin-top: 10px;
    padding: 10px 0;
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;

    .cart-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;

      .cart-item-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 4px;
        margin-right: 10px;
      }

      .cart-item-info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          font-size: 14px;
        }
      }


      .cart-item-actions {
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 5px;
      
        button {
          width: 24px;
          height: 24px;
          border: none;
          border-radius: 50%;
          font-size: 14px;
          color: get-color($neutral, "100");
          background-color: get-color($primary, "100");
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all 0.3s;
      
          &:hover {
            background-color: get-color($primary, "200");
            transform: scale(1.1);
          }
      
          &:disabled {
            background-color: get-color($neutral, "200");
            color: get-color($neutral, "300");
            cursor: not-allowed;
          }
      
          &.delete {
            margin-left: 10px;
            background-color: transparent;
            color:  get-color($primary, "100");
            
            &:hover {
              color: get-color($primary, "200");
            }

            i {
              font-size: 18px;
        
            }
          }
        }
      
        span {
          min-width: 20px;
          text-align: center;
          font-size: 16px;
          font-weight: normal;
          color: get-color($primary, "100");
        }
      }
    }
  }

  .cart-summary {
    margin-bottom: 20px;
    border-top: 1px solid get-color($neutral, "300");
    padding-top: 10px;

    .cart-summary-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;

      span {
        font-size: 14px;
      }
    }

    .cart-summary-total {
      display: flex;
      justify-content: space-between;
      font-weight: bold;

      h3 {
        margin: 0;
      }
    }
  }

  .place-order {
    button {
      width: 100%;
      padding: 20px;
      background-color: get-color($primary, "100");
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      transition: background-color 0.3s;

      &:hover {
        background-color: get-color($primary, "200");
      }
    }
  }
}
