@import "../../../scss//variables";
.tabside-main {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 32px;
}

.calendar-layout {
  align-items: start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: white;

  .calendar-title{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 45%;

    .calendar-header {
      width: 50%;
      display: flex;
      margin-left: 5rem;
    }
    .create-event{
      width: 50%;
      padding: 0.5rem 1rem;
      margin-top: 10px;
    }

  }


  .calendar-btn {
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 1rem;
    background: white;

    &:hover {
      background: #6182c4;
    }

    &.today-btn {
      margin-right: 1.25rem;
    }

    &.nav-btn {
      span {
        font-size: 1.5rem;
        color: #6b7280;
      }
    }
  }

  .calendar-current-month {
    margin-left: 1rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #4b5563;
    justify-content: center;
    font-weight: 700;
  }
}

